*{
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
}
html{
    scroll-behavior: smooth;
}
div{
    height: 100vh;
    width: 100%;
    display: grid;
    place-items: center;
}
::-webkit-scrollbar{
    display: none;
}
#preloader{
    background: #D3718D url(img/loader.gif) no-repeat bottom;
    background-size: 60%;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 10;
    top: 0;
}
section div:nth-child(1){
    background: url(img/one.jpg) center;
    background-size: cover;
}
section div:nth-child(2){
    background: url(img/two.jpg) center;
    background-size: cover;
}
section div:nth-child(3){
    height: 500px;
    background: url(img/three.jpeg) center;
    background-size: cover;
    background-attachment: fixed;
}
section div:nth-child(4){
    background: url(img/four.jpg) center;
    background-size: cover;
    background-attachment: fixed;
}
section div:nth-child(5){
    background: url(img/five.jpg) center;
    background-size: cover;
}
section div:nth-child(6){
    background: url(img/six.jpg) center;
    background-size: cover;
    background-attachment: fixed;
    height: 600px;
}
section div:nth-child(7){
    background: url(img/seven.jpg) center;
    background-size: cover;
}
section div:nth-child(8){
    background: url(img/eight.jpg) center;
    background-size: cover;
    background-attachment: fixed;
}
section div:nth-child(9){
    background: url(img/nine.jpg) center;
    background-size: cover;
}
section div:nth-child(10){
    background: url(img/ten.jpg) center;
    background-size: cover;
    background-attachment: fixed;
}